<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <appSettings>
    <add key="line-length" value="6"/>
    <add key="line-width" value="1"/>
    <!--<add key="pathing" value="000101" />-->
    <!--<add key="pathing" value="000000000001" />-->
    <add key="pathing" value="00000101011101110111111101111111"/>
    <add key="center-multiplier" value="2"/>
    <add key="center-as-x" value="false"/>
    <add key="color-grouping-amount" value="4"/>
    <add key="kill-on-edge" value="false"/>
    <add key="layer-limit" value="0"/>
    <add key="window-height" value="1040"/>
    <add key="layer-generation-rate" value="250"/>
    <add key="straight-multiplier" value="1"/>
    <add key="diagonal-multiplier" value="1"/>
  </appSettings>
</configuration>
