<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="line-length" value="2"/>
    <add key="line-width" value="1"/>
    <add key="pathing" value="000101"/>
    <add key="center-multiplier" value="5"/>
    <add key="center-as-x" value="false"/>
    <add key="color-grouping-amount" value="12"/>
    <add key="kill-on-edge" value="false"/>
    <add key="layer-limit" value="0"/>
    <add key="window-height" value="1080"/>
  </appSettings>
</configuration>